/* when you realize some day you will die, could you do it as better as you can */

@charset 'utf-8';
* {
    box-sizing: border-box;
}

html,
body {
    /*height: 100vh;*/
}

.main-box {
    height: 100vh;
    width: 100%;
    background-color: #e9f2f9;
}

.main-box .menu-side {
    background-color: #3ac1a4;
    box-shadow: 0 0 6px #a4adab;
    color: #fff;
}

.main-box .content-side {}

.side-header h1 {
    margin: 0;
}

.main-menu ul {
    margin: 0;
    padding: 0;
}

.main-menu li {
    line-height: 1em;
}

.main-content {
    background-color: #fff;
    box-shadow: 0 0 3px #fafafa;
}

.imadeicon {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: .6s all ease 0s;
    z-index: 2;
}

.imadeicon .bar-item {
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: rgba(233, 255, 250, 1);
    left: 50%;
    transform: translateX(-50%);
    transition: .6s all ease 0s;
}

.imadeicon.status {
    z-index: 1;
}

.imadeicon .bar-item:nth-child(1) {
    top: 11px;
}

.imadeicon .bar-item:nth-child(2) {
    top: 18px;
}

.imadeicon .bar-item:nth-child(3) {
    top: 25px;
}

.barstatus:checked ~ .status {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.barstatus:checked ~ .status>.bar-item:nth-of-type(1) {
    top: 13px;
    transform: translate(-8%) rotate(45deg)!important;
    width: 36% !important;
}

.barstatus:checked ~ .status>.bar-item:nth-of-type(3) {
    top: 23px;
    transform: translateX(-8%) rotate(-45deg) !important;
    width: 36% !important;
}


/* small */

@media screen and (max-width: 64em) {
    .main-box .menu-side,
    .main-box .content-side {
        position: static;
        float: none;
        width: 100%;
        padding: 1% 3%;
    }
    .menu-side header {
        padding: 1.875em 0;
        margin: 0 2em;
    }
    .main-menu.pure-g {
        display: none;
    }
    .main-menu.pure-g.stick-top{
        display: block;
        /* stop at here */
    }
    .icon.menu {
        display: block;
        position: absolute;
        top: 2.5em;
        right: 3.8%;
        width: 2.5em;
        height: 2.5em;
        text-align: center;
        line-height: 2.5em;
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    .icon.menu:hover {
        border: 1px solid rgba(255, 255, 255, 0.5)
    }
}
@media screen and (max-width: 48em) {
    .main-box .content-side {
        padding: 0;
    }
}
/* medium large */
@media screen and (min-width: 64em) {
    .main-box .menu-side {
        position: fixed;
        float: left;
        height: 100vh;
        width: 25%;
    }
    .main-box .content-side {
        width: 75%;
        float: left;
        margin-left: 25%;
        padding: 2% 4%;
    }
    .main-box .main-menu {
        margin-top: 17%;
        padding: 0 1em;
        margin: 0 auto;
        width: 18em;
    }
    .main-content {}
    .icon.menu {
        display: none;
    }
    .side-header {
        margin: 5.5em auto;
        width: 18em;
        color: #fff;
    }
}
